.profile-header {
  width: 100%;
  height: 600px;
  display: block;
}

.profile-header-background {
  width: 100%;
  height: 400px;
  background-color: #cdd7f7;
  /*Dont like the look of textures so commented it out: background-image: url("https://www.transparenttextures.com/patterns/diagonal-striped-brick.png"); */
  }

  .header-content {
    height: 200px;
    background-color:  #f4f1ec;
    position: static;
  }

  h2 {
    font-weight: normal;
    color: #545149;
    font-size: 3rem;
    align-self: center;
  }

  .profile-pic {
    width: 20rem;
    align-self: center;
    margin-top: -15%;
  }
  

  /* Media query for screens with width less than or equal to 2048px 
          Note - had the compass 1024px but found that it was creating an awkward break point so
          decided to change at a more natural looking break
  */
  @media screen and (max-width: 2048px) {
    .profile-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .profile-pic {
      width: 20rem;
      margin-top: -17rem;
    }

    h2 {
      text-align: center;
    }
  }

  /* Media query for screens with width greater than 2048px */
  @media only screen and (min-width: 2048px) {

    .profile-pic {
      width: 20rem;
      margin-top: -200px;
      align-self: center;
    }

    .profile-header-background {
      display: none;
    }
  
    .header-content {
      width: 80%;
      height: 100%;
      margin-left: 100px;
      margin-top: 300px;
      }

    .profile-box {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: #cdd7f7;
      width: 50rem;
      height: 20rem;
      border-radius: 10px;
    }

    h2 {
      align-self: center;
    }
   }
  