.profile {
  height: 400px;
  width: 100%;
  background-color: #cdd7f7;
  background-image: url("https://www.transparenttextures.com/patterns/diagonal-striped-brick.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.profile-pic img{
  padding-top: 100px;
  margin-top: 200px;
  height: 500px;
}

.user {
  height: 100px;
  display: flex;
  justify-content: center;  
}

h2 {
  font-weight: normal;
  color: #545149;
  font-size: 250%;
}