.new-tweet {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
 }

 .form {
  display: flex;
  flex-direction: column;
 }

 .new-tweet label {
  font-weight: 600;
  
 }

 #tweet-text {
  border: none;
  background-color: #f4f1ec;
  border-bottom: 4px solid #545149;
  padding: 0;   
 }

 .new-tweet button {
  background-color: #4056A1;
  color: #f4f1ec;
  border: none;
 }

 .submit {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  font-family: 'Bungee', cursive;
 }


